<div class="section">
  <div class="container">
    <div class="content">
      <h1 class="title">BATTLESHIP!!!</h1>
      <h3 class="debug">{{ messageString }}</h3>
      <h6 class="subtitle is-6"><strong>Pusher Battleship Demo</strong></h6>
      <hr>

      <section *ngIf="winner" class="notification is-success has-text-centered" style="color:white">
        <h1>Player {{ winner.player.id }} has won!</h1>
        <h5>Click <a href="{{ gameUrl }}">here</a> to start a new game.</h5>
      </section>

      <div *ngIf="players < 2">
        <h2>Waiting for second user to join...</h2>
        <h3 class="subtitle is-6">You can invite them with this link: {{ gameUrl }}?id={{ gameId }}.  You can also open <a href="{{ gameUrl }}?id={{ gameId }}" target="_blank">this link</a> in a new browser to play solo.</h3>
      </div>

      <div class="columns" *ngIf="validPlayer">
        <div class="column has-text-centered" *ngFor="let board of boards; let i = index">
          <h5>
            PLAYER {{ board.player.id }} <span class="tag is-info" *ngIf="i == player">You</span>
            // <strong>SCORE: {{ board.player.score }}</strong>
          </h5>
          <table class="is-bordered" [style.opacity] = "i == player ? 0.5 : 1">
            <tr *ngFor = "let row of board.tiles; let j = index">
              <td *ngFor = "let col of row; let k = index"
                  (click) = "fireTorpedo($event)"
                  [style.background-color] = "col.used ? '' : 'transparent'"
                  [class.win] = "col.status == 'win'"
                  [class.fail] = "col.status !== 'win'"
                  class="battleship-tile"
                  id="t{{i}}{{j}}{{k}}">
                <fa-icon  [icon]="col.value == 'X' ? ship : water" 
                          [spin]="col.value !== 'X'" 
                          [style.color]="col.value == 'X' ? 'black' : 'blue'">
                </fa-icon>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="has-text-centered">
        <span class="tag is-warning" *ngIf="canPlay">Your turn!</span>
        <span class="tag is-danger" *ngIf="!canPlay">Other player's turn</span>
        <h5 class="title"><small>{{ players }} player(s) in game</small></h5>
      </div>
    </div>
  </div>
</div>





























<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

